[submodule "vim/pack/plugins/start/julia-vim"]
	path = vim/pack/plugins/start/julia-vim
	url = git@github.com:JuliaEditorSupport/julia-vim.git
[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/pack/plugins/start/nerdcommenter"]
	path = vim/pack/plugins/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "vim/pack/plugins/start/tmuxline.vim"]
	path = vim/pack/plugins/opt/tmuxline.vim
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "vim/pack/plugins/start/ultisnips"]
	path = vim/pack/plugins/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/pack/plugins/start/vim-snippets"]
	path = vim/pack/plugins/start/vim-snippets
	url = git@github.com:samuelfneumann/vim-snippets.git
[submodule "vim/pack/plugins/start/vim-tmux-navigator"]
	path = vim/pack/plugins/start/vim-tmux-navigator
	url = git@github.com:samuelfneumann/vim-tmux-navigator.git
[submodule "vim/pack/plugins/start/vimtex"]
	path = vim/pack/plugins/start/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule "vim/pack/plugins/start/winresizer"]
	path = vim/pack/plugins/start/winresizer
	url = git@github.com:samuelfneumann/winresizer.git
[submodule "vim/pack/plugins/start/vim-toml"]
	path = vim/pack/plugins/start/vim-toml
	url = git@github.com:cespare/vim-toml.git
[submodule "vim/pack/plugins/start/nim.vim"]
	path = vim/pack/plugins/start/nim.vim
	url = https://github.com/zah/nim.vim
[submodule "vim/pack/plugins/start/govim"]
	path = vim/pack/plugins/start/govim
	url = https://github.com/govim/govim.git
[submodule "vim/pack/plugins/start/vim-gutentags"]
	path = vim/pack/plugins/start/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags
[submodule "vim/pack/plugins/start/gutentags_plus"]
	path = vim/pack/plugins/start/gutentags_plus
	url = git@github.com:skywind3000/gutentags_plus.git
[submodule "vim/pack/plugins/start/vim-wayland-clipboard"]
	path = vim/pack/plugins/start/vim-wayland-clipboard
	url = git@github.com:jasonccox/vim-wayland-clipboard.git
[submodule "vim/pack/plugins/start/python-mode"]
	path = vim/pack/plugins/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "vim/pack/plugins/start/python-vim"]
	path = vim/pack/plugins/start/python-vim
	url = https://github.com/samuelfneumann/python-vim.git
[submodule "vim/pack/plugins/start/vim-submode"]
	path = vim/pack/plugins/start/vim-submode
	url = git@github.com:kana/vim-submode.git
[submodule "vim/pack/plugins/start/is.vim"]
	path = vim/pack/plugins/start/is.vim
	url = git@github.com:haya14busa/is.vim.git
[submodule "vim/pack/plugins/start/vim-easycomplete"]
	path = vim/pack/plugins/start/vim-easycomplete
	url = git@github.com:jayli/vim-easycomplete.git
